fastapi==0.121.0
uvicorn==0.38.0
sentence-transformers==5.2.2
langchain==1.2.0
langchain-openai==1.1.6
langchain-community==0.4.1
langchain-huggingface==1.2.0
langgraph==1.0.5
python-dotenv==1.2.1
tiktoken==0.12.0
pydantic==2.12.4
pydantic-settings==2.11.0
sqlalchemy==2.0.45
redis==5.0.1
aioredis==2.0.1
asyncpg==0.31.0
pgvector==0.4.2
pypdf==6.5.0

# audio file
faster-whisper==1.2.1
python-multipart==0.0.20

# email
aiosmtplib==5.0.0

# signup, login
passlib==1.7.4
bcrypt==4.0.1
PyJWT==2.10.1

# generate-unstructured-vectors
langchain-experimental==0.4.1
google-api-python-client==2.187.0
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.3
pymupdf==1.26.7
nltk==3.9.2
scikit-learn==1.8.0
numpy==2.3.3
pandas==2.3.3
openpyxl==3.1.5
python-docx==1.2.0
docx2txt==0.9
chardet==5.2.0

# reranker (tools.py - ORTModelForSequenceClassification, AutoTokenizer)
optimum==2.1.0
transformers==4.57.6
torch==2.10.0
